.post_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 45px;
}

.post_username {
    padding: 10px
}

.post_img {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.post_caption {
    padding: 10px;
    font-size: medium;
}